[Unit]
Description=Authelia Redis
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/polarix-containers/redis:7
ContainerName=authelia-redis
Network=caddy.network

Volume=/srv/authelia/redis:/data:Z

User=200019
Group=200019
NoNewPrivileges=true
DropCapability=ALL

Exec=redis-server --appendonly yes --save 60 1 --loglevel warning

[Service]
Restart=always
RestartSec=2

#PrivateTmp=true
#PrivateDevices=true
#ProtectHome=true
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelLogs=true
#RestrictSUIDSGID=true
#LockPersonality=true
#ProtectClock=true
#RestrictRealtime=true
#MemoryDenyWriteExecute=true
#UMask=0077

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=authelia.target
