[Unit]
Description=Authelia
After=authelia-redis.service authelia-postgres.service
Requires=authelia-redis.service authelia-postgres.service

[Container]
Image=ghcr.io/authelia/authelia:latest
ContainerName=authelia

Network=caddy.network
PublishPort=9091:9091/tcp

Volume=/srv/authelia/config:/config:Z
Volume=/srv/authelia/data:/data:Z

Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/tmp

User=200018
Group=200018

NoNewPrivileges=true
DropCapability=ALL

[Service]
Restart=always
RestartSec=2

#PrivateTmp=true
#PrivateDevices=true
#ProtectHome=true
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelLogs=true
#RestrictSUIDSGID=true
#LockPersonality=true
#ProtectClock=true
#RestrictRealtime=true
#MemoryDenyWriteExecute=true
#UMask=0077

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
