[Unit]
Description=Feishin
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=feishin
Image=ghcr.io/jeffvli/feishin:latest

Environment=SERVER_NAME=navidrome
Environment=SERVER_LOCK=true
Environment=SERVER_TYPE=navidrome
Environment=SERVER_URL=https://music.taro.rip
Environment=LEGACY_AUTHENTICATION=false
Environment=ANALYTICS_DISABLED=true

PublishPort=9180:9180/tcp

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=multi-user.target
