[Unit]
Description=Glance Dashboard
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/glanceapp/glance
ContainerName=glance

PublishPort=9006:9006/tcp

Volume=/srv/glance/config:/app/config:Z

Environment=PORT=9006

User=200013
Group=200013

NoNewPrivileges=true
DropCapability=all

[Service]
Restart=always
RestartSec=5

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target



