[Unit]
Description=Headscale
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/juanfont/headscale:latest
ContainerName=headscale
AutoUpdate=registry

PublishPort=8085:8085/tcp

Volume=/srv/headscale/config:/etc/headscale:ro,Z
Volume=/srv/headscale/data:/var/lib/headscale:Z

Exec=serve

NoNewPrivileges=true
DropCapability=all

User=200021
Group=200021

[Service]
Restart=always
RestartSec=5

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
