[Unit]
Description=Headplane
After=network-online.target headscale.service
Wants=network-online.target

[Container]
Image=ghcr.io/tale/headplane:latest
ContainerName=headplane
AutoUpdate=registry

PublishPort=3333:3333/tcp

Volume=/srv/headplane/config/config.yaml:/etc/headplane/config.yaml:ro,Z
Volume=/srv/headplane/data:/var/lib/headplane:Z
Volume=/srv/headscale/config:/etc/headscale:Z

User=200021
Group=200021

NoNewPrivileges=true
DropCapability=all

[Service]
Restart=always
RestartSec=5

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target

