[Unit]
Description=Immich Server
Wants=immich-redis.service immich-postgres.service immich-ml.service immich.network
After=immich-redis.service immich-postgres.service immich-ml.service immich.network

[Container]
Image=ghcr.io/immich-app/immich-server:release
ContainerName=immich_server
Network=immich.network

EnvironmentFile=/srv/immich/.env

User=200014
Group=200014

Volume=/srv/immich/data:/data:Z

PublishPort=2283:2283/tcp

NoNewPrivileges=true
DropCapability=all

[Service]
Restart=always

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
