[Unit]
Description=Immich Machine Learning
Wants=immich.network immich-model-cache.volume
After=immich.network immich-model-cache.volume

[Container]
Image=ghcr.io/immich-app/immich-machine-learning:release
ContainerName=immich_machine_learning
Network=immich.network

EnvironmentFile=/srv/immich/.env

Environment=MPLCONFIGDIR=/cache/matplotlib

Volume=immich-model-cache.volume:/cache:Z,U

User=200016
Group=200016

NoNewPrivileges=true
DropCapability=all

[Service]
Restart=always

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=multi-user.target
