[Unit]
Description=Jellyfin Media Server
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/jellyfin/jellyfin:latest
ContainerName=jellyfin
AutoUpdate=registry
PublishPort=8096:8096/tcp
Network=jellyfin.network

Exec=--nonetchange

User=200001
Group=200001

Volume=/srv/jellyfin/config:/config:Z
Volume=/var/home/core/music:/music:z
Volume=/var/home/core/tv:/tv:z,ro
Volume=/var/home/core/movies:/movies:z,ro

NoNewPrivileges=true
DropCapability=ALL
ReadOnly=true

[Service]
SuccessExitStatus=0 143
Restart=on-failure

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
