[Unit]
Description=Navidrome Media Server
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/navidrome/navidrome:develop
ContainerName=navidrome
AutoUpdate=registry
PublishPort=4533:4533/tcp
Network=navidrome.network

User=200000
Group=200000

Secret=LASTFM_API_KEY,type=env,target=ND_LASTFM_APIKEY
Secret=LASTFM_API_SECRET,type=env,target=ND_LASTFM_SECRET
Secret=SPOTIFY_ID,type=env,target=ND_SPOTIFY_ID
Secret=SPOTIFY_SECRET,type=env,target=ND_SPOTIFY_SECRET

EnvironmentFile=/srv/navidrome/navidrome.env

Volume=/srv/navidrome/data:/data:Z
Volume=/var/home/core/music:/music:ro,Z

NoNewPrivileges=true
DropCapability=ALL
ReadOnly=true

[Service]
SuccessExitStatus=0 143
Restart=on-failure

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
