[Unit]
Description=Nextcloud Valkey
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/polarix-containers/valkey:9
ContainerName=nextcloud-valkey
Network=nextcloud.network

Volume=/srv/nextcloud/valkey:/data:Z
ReadOnly=true

User=200008
Group=200008

NoNewPrivileges=true
DropCapability=all

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=nextcloud.target
