[Unit]
Description=Nextcloud
After=nextcloud-mariadb.service nextcloud-valkey.service
Wants=nextcloud-mariadb.service nextcloud-valkey.service

[Container]
Image=docker.io/library/nextcloud:apache
ContainerName=nextcloud
Network=nextcloud.network

PublishPort=9001:80/tcp

Volume=/srv/nextcloud/nextcloud:/var/www/html:Z
Volume=/srv/nextcloud/php-confd/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini:Z

EnvironmentFile=/srv/nextcloud/nextcloud.env
ReadOnly=true

User=33
Group=33

NoNewPrivileges=true
DropCapability=all
AddCapability=SETUID
AddCapability=SETGID
AddCapability=NET_BIND_SERVICE


[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=containers.target
