[Unit]
Description=Nextcloud Cron
After=nextcloud.service
Wants=nextcloud.service

[Container]
Image=ghcr.io/polarix-containers/nextcloud:latest
ContainerName=nextcloud-cron
Network=nextcloud.network

Volume=/srv/nextcloud/nextcloud:/var/www/html:Z
EntryPoint=/cron.sh
ReadOnly=true

User=200006
Group=200006

NoNewPrivileges=true
DropCapability=all

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=nextcloud.target
