[Unit]
Description=Nicotine+
Requires=gluetun.service
After=gluetun.service

[Container]
Image=ghcr.io/fletchto99/nicotine-plus-docker:latest
ContainerName=nicotine-plus

AutoUpdate=registry

Network=container:gluetun

PodmanArgs=--runtime=runc

EnvironmentFile=/srv/nicotineplus/nicotineplus.env

Volume=/srv/nicotineplus/config:/config:Z
Volume=/var/home/core/music:/app/music:Z
Volume=/var/home/core/tv:/app/tv:Z
Volume=/var/home/core/movies:/app/movies:Z
Volume=/var/home/core/music:/app/downloads:Z
Volume=/srv/nicotineplus/incomplete:/data/incomplete_downloads:Z
Volume=/srv/nicotineplus:/opt/nicotine:Z

[Service]
Restart=always

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
