[Unit]
Description=Synapse
After=synapse-postgres.service
Requires=synapse-postgres.service

[Container]
ContainerName=synapse
Image=ghcr.io/polarix-containers/synapse:antispam-jemalloc
Network=synapse.network
AutoUpdate=registry

EnvironmentFile=/srv/synapse/synapse.env

Volume=/srv/synapse/data:/data:Z

PublishPort=8888:8888/tcp

User=200034
Group=200034

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=containers.target
