[Unit]
Description=Synapse PostgreSQL

[Container]
ContainerName=synapse-postgres
Image=ghcr.io/polarix-containers/postgres:18
AutoUpdate=registry

Network=synapse.network

Volume=/srv/synapse/postgres:/var/lib/postgresql/18/docker:Z
Volume=/srv/synapse/postgres_dump:/dump:Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql

EnvironmentFile=/srv/synapse/postgres.env
User=200035
Group=200035

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=containers.target
