[Unit]
Description=Uptime Kuma Mariadb
PartOf=uptime-kuma.target

[Container]
ContainerName=uptime-kuma-mariadb
Image=ghcr.io/polarix-containers/mariadb:11.4-alpine
AutoUpdate=registry

Network=uptime-kuma.network

Volume=/srv/uptime-kuma/mariadb:/var/lib/mysql:Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/tmp
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/run/mariadb

EnvironmentFile=/srv/uptime-kuma/mariadb.env
User=200011
Group=200011

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=healthcheck.sh --connect --innodb_initialized
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=uptime-kuma.target
