[Unit]
Description=Uptime Kuma
PartOf=uptime-kuma.target
After=uptime-kuma-mariadb.service
Wants=uptime-kuma-mariadb.service

[Container]
ContainerName=uptime-kuma
Image=docker.io/louislam/uptime-kuma:beta-slim-rootless
AutoUpdate=registry

PublishPort=3001:3001/tcp
Network=uptime-kuma.network

Volume=/srv/uptime-kuma/uptime-kuma:/app/data:Z
ReadOnly=true

User=200010
Group=200010

NoNewPrivileges=true
DropCapability=ALL
AddCapability=NET_RAW

PodmanArgs=--runtime=runc

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

CPUQuota=200%
MemoryAccounting=true
MemoryHigh=3G
StartupMemoryHigh=3G
MemoryMax=4G
StartupMemoryMax=4G

[Install]
WantedBy=containers.target
