[Unit]
Description=Vaultwarden PostgreSQL
PartOf=vaultwarden.target

[Container]
ContainerName=vaultwarden-postgres
Image=ghcr.io/polarix-containers/postgres:18
AutoUpdate=registry

Network=vaultwarden.network

Volume=/srv/vaultwarden/postgres:/var/lib/postgresql/18/docker:Z
Volume=/srv/vaultwarden/postgres_dump:/dump:Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql

EnvironmentFile=/srv/vaultwarden/postgres.env
User=200005
Group=200005

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=pg_isready -U vaultwarden
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=vaultwarden.target
