[Unit]
Description=Vaultwarden
PartOf=vaultwarden.target
After=vaultwarden-postgres.service
Wants=vaultwarden-postgres.service

[Container]
ContainerName=vaultwarden
Image=ghcr.io/polarix-containers/vaultwarden:latest
AutoUpdate=registry

PublishPort=9000:9000/tcp
Network=vaultwarden.network

Volume=/srv/vaultwarden/vaultwarden:/data:Z
Volume=/srv/vaultwarden/certs:/certs:Z,ro
ReadOnly=true

EnvironmentFile=/srv/vaultwarden/vaultwarden.env
User=200004
Group=200004

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=containers.target
