[Unit]
Description=Zipline Postgres
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/library/postgres:16
ContainerName=zipline-postgres
Network=zipline.network

User=200007
Group=200007

EnvironmentFile=/srv/zipline/postgres.env

Volume=/srv/zipline/postgres:/var/lib/postgresql/data:Z

Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql

PodmanArgs=--health-cmd=pg_isready\ -U\ zipline
PodmanArgs=--health-interval=10s
PodmanArgs=--health-timeout=5s
PodmanArgs=--health-retries=5

NoNewPrivileges=true
DropCapability=ALL

[Service]
Restart=always

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=zipline.target
