[Unit]
Description=Zipline
After=zipline-postgres.service
Wants=zipline-postgres.service

[Container]
Image=ghcr.io/diced/zipline:latest
ContainerName=zipline
Network=zipline.network

User=200008
Group=200008

EnvironmentFile=/srv/zipline/zipline.env

Volume=/srv/zipline/uploads:/zipline/uploads
Volume=/srv/zipline/public:/zipline/public
Volume=/srv/zipline/themes:/zipline/themes

Mount=type=tmpfs,tmpfs-size=100G,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/tmp/zipline

PublishPort=3000:3000/tcp

NoNewPrivileges=true
DropCapability=ALL
#ReadOnly=true

[Service]
Restart=always

LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

[Install]
WantedBy=containers.target
